.mainContent {
    width: 100%;
    height: 100%;
    background: white;
    padding-top: 58px;
    background: url('./assets/img/59926e94e27df.jpg') no-repeat center;
    background-size: cover;
    .wrapper {
        margin: 0 auto;
        width: 1010px;
        display: flex;
        justify-content: center;

    }
}
